# ========================
# ENVIRONNEMENT
# ========================
venv/
env/
.env

# ========================
# PYTHON
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# DJANGO
# ========================
db.sqlite3
*.sqlite3

# Fichiers générés
staticfiles/
media/

# ========================
# LOGS
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# VS CODE / IDE
# ========================
.vscode/
.idea/

# ========================
# JUPYTER / DATA
# ========================
*.ipynb_checkpoints/
*.csv

# ========================
# BUILD / CACHE
# ========================
*.egg-info/
dist/
build/

# ========================
# SECRETS (CRITIQUE)
# ========================
.env